<nav class="flex-1 flex md:flex-col flex-row md:space-y-6 h-full text-sm">
  @for (item of items; track item.route) {
  <a
    [routerLink]="item.route"
    [routerLinkActive]="['text-blue-500']"
    [routerLinkActiveOptions]="{ exact: true }"
    class="flex flex-col items-center justify-center w-14 h-14 hover:bg-gray-300 rounded-lg transition-all group"
  >
    <i
      class="fa-solid {{
        item.icon
      }} text-lg group-hover:scale-110 transition-transform"
    ></i>
    <span class="text-xs mt-1">{{ item.label }}</span>
  </a>
  }
</nav>
